<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        @{ string colClass = "col-lg-12"; }
        <div class="navbar navbar-inverse navbar-fixed-top header">
            <div class="container">
                @if (Request.IsAuthenticated)
                {
                    <div class="navbar-header" style="padding-left: 5em;">
                        @Html.ActionLink(AcadTWProg.ViewModels.AccountViewModel.GetDepartmentName(), "Index", "Schedules", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                }
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>

        @if (Request.IsAuthenticated)
        {
            colClass = "col-lg-10";
            <div class="col-lg-1">
                @*<div class="sidenav">
                    <ul class="list-unstyled components">
                        <li class="active">@Html.ActionLink("Departments", "Index", "Departments")</li>
                        <li class="active">@Html.ActionLink("Rooms", "Index", "Rooms")</li>
                        <li class="active">@Html.ActionLink("Teachers", "Index", "Teachers")</li>
                        <li class="active">@Html.ActionLink("Courses", "Index", "Courses")</li>
                        <li class="active">@Html.ActionLink("Schedules", "Index", "Schedules")</li>
                    </ul>
                </div>*@
            </div>
        }
        <div class="@colClass">
            @RenderBody()
            @RenderSection("SPAViews", required: false)
        </div>
    </div>

    <footer class="footer">
        <div class="footer-copyright text-center footer-text">
            <p style="color:#9d9d9d">&copy; @DateTime.Now.Year - Academic Teaching Weekly Program</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
