@model AcadTWProg.ViewModels.RoomFormViewModel
@{
    ViewBag.Title = "Room Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Rooms"))
{
    <div class="form-group">
        @Html.LabelFor(r => r.Name)
        @Html.TextBoxFor(r => r.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Capacity)
        @Html.TextBoxFor(r => r.Capacity, new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.Capacity)
    </div>
    @Html.HiddenFor(r => r.ID)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-edit"></span> Save
    </button>
    if (Model.IsEditMode)
    {
        <button type="button" class="btn btn-danger js-delete" data-movie-id="@Model.ID">
            <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
    }
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $(this).on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this room ? This action cannot be undone !", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Rooms/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                window.location.replace("/Rooms");
                            }
                        });
                    }
                });
            });
        });
    </script>
}